.attach{
 color:rgba(245, 56, 56, 0.73);
     text-transform:uppercase;
     font-weight:bold;
    
}

body{
    background:url(http://www.planwallpaper.com/static/images/Light-Wood-Background-Wallpaper.jpg);
    background-size:cover;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    width:100px;
    height:100px;
    border:3px solid rgb(22,77,100);
    border-radius:100%;
}
 .container{
            margin: 0 auto;
            color: 	#000000;
            font-family: Garmond,Times,serif;
            padding-left:5px;
            padding-right:5px;
            text-align: center;
        }
 .heading{
     color:rgb(244, 66, 66);
 }
 .info{
    color:rgb(66, 86, 244);
 }
 



